body { /*element selector*/
    background-color /*property*/: #fcebb6; 
    color /*value*/: #221811;
    font-family: Verdana, Arial, sans-serif;
    background-image: url("images/background.gif");
    box-sizing: border-box;
}

header {
    background-color: #d2b48c;
    /*text-align: center;*/
    height: 150px;
    background-image: url("Images/javajamlogo.jpg");
    background-repeat: no-repeat;
    display: block;
}

h1 {
    /*line-height: 200%; /*spacing. 200% = double spasing*/
    padding-top: 45px;
    padding-left: 220px;
    font-size: 3em;
}

nav {
    text-align: center;
    font-weight: bold ;
    font-size: 1.5em;
    padding-top: 10px;
    width: 200px;
    float: left;
    display: block;
}

nav a {
    text-decoration: none;
}
nav a:link{
    color:#FEF6C2
}
nav a:visited {
    color: #d2b48c;
}
nav a:hover{
    color: #cc9933;
}
nav ul{
    list-style-type: none;
    padding-left: 0;
}

footer {
    background-color: #d2b48c;
    font-size: .60em; /**/
    font-style: italic;
    text-align: center;
    padding-bottom: 10px;
    border-top: 2px solid #221811;
    display: block;
}

#wrapper {
    width :80;
    margin-left:auto;
    margin-right:auto;
    background-color: #231814;
    min-width: 900px;
    max-width: 1280px;
    box-shadow: inset -10px -10px 10px 10px #333333;
}

h4 {
    background-color: #d2b48c;
    font-size: 1.2em;
    padding-left: .5em;
    padding-bottom: .25em;
    text-transform: uppercase;
    padding-bottom: 0;
    clear: left;
    border-bottom: 2px solid #231814
                 /*width,,style,colour*/;
}

main{
    padding: 0em 2em 2em 2em; /*shorthand version*/
    padding-left: 0;
    padding-right: 0;
    margin-left: 200px;
    background-color: #FEF6C2;
    display: block;
}

main h2, main h2, main h3, main div, main p, main ul, main dl {
    padding-left: 3em;
    padding-right: 2em;
}

.details {
    padding-left: 20%;
    padding-right: 20%;
    overflow: auto;
}

img {
    padding-left: 10px;
    padding-right: 10px;
}

#heroroad {
    background-image: url("Images/heroroad.jpg");
    background-size: 100% 100%;
    height: 250px;
}
#heromugs {
    background-image: url("Images/heromugs.jpg");
    background-size: 100% 100%;
    height: 250px;
}
#heroguitar {
    background-image: url("Images/heroguitar.jpg");
    background-size: 100% 100%;
    height: 250px;
}

#herojobs {
    height: 250px;
    background-image: url(images/herojobs.jpg);
    background-size: 100% 100%;
}

.floatleft{
    float: left;
    padding-bottom: 2em;
    padding-right: 2em;

}
table{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border-spacing: 0;
    background-color: #fffccf;
}
td, th{
    padding: 10px;
}

tr:nth-of-type(odd) {
    background-color: #d2b48e;
}


form {
    padding: 2em;
}

label {
    float: left;
    display: block;
    text-align: right;
    width: 8em;
    padding-right: 1em;
}

input, textarea {
    display: block ;
    margin-bottom: 1em;
}

#mySubmit {
    margin-left: 9.5cm;
}


